* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

:root {
  --body-bg: hsl(222, 26%, 31%);
  --text-color: white;
  --toggle-keypad-bg: hsl(223, 31%, 20%);
  --circle: hsl(6, 63%, 50%);
  --screen: hsl(224, 36%, 15%);
  --keypad: hsl(221, 14%, 31%);
  --key-border: hsl(28, 16%, 65%);
  --del-bg: hsl(225, 21%, 49%);
  --del-border: hsl(224, 28%, 35%);
  --equal-bg: hsl(6, 63%, 50%);
  --equal-border: hsl(6, 70%, 34%);
  --keypad-bg: hsl(30, 25%, 89%);
  --equal-color: white;
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--body-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 400px;

  .calc-head {
    display: flex;
    justify-content: space-between;
    padding: 1em 0 1.25em 0;
    align-items: center;

    h3 {
      color: var(--text-color);
      font-size: 1.5em;
    }

    div {
      display: flex;
      align-items: center;
      color: var(--text-color);
      span {
        font-size: 0.65em;
        margin-right: 1.45em;
        font-weight: 700;
      }

      .theme {
        width: 50px;
        height: 16px;
        border-radius: 50px;
        background: var(--toggle-keypad-bg);
        position: relative;
        display: flex;

        .themes {
          width: 16px;
          height: 16px;
          cursor: pointer;
        }

        .theme-type {
          letter-spacing: 0.35em;
          font-size: 0.65em;
          position: absolute;
          top: -15px;
          left: 7px;
          font-weight: 700;
        }

        .circle {
          width: 10.5px;
          height: 11px;
          margin: 2px 4px;
          background: var(--circle);
          border-radius: 50px;
          position: absolute;
          left: 0px;
          transition: all 0.3s linear;

          //15px
        }
      }
    }
  }

  .screen {
    width: 100%;
    height: 100px;
    border-radius: 8px;
    background: var(--screen);
    padding: 2em 1.45em 2em 2em;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .expression {
      font-size: 2.5em;
      color: var(--text-color);
      font-weight: 700;
    }
  }

  .control {
    background: var(--toggle-keypad-bg);
    border-radius: 8px;
    margin-top: 1em;
    padding: 1.65em;

    .btn-grp-1 {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: 45px;
      grid-gap: 1em;
      margin-bottom: 1em;

      .btn {
        border-radius: 8px;
        font-size: 1.75em;
        font-weight: 700;
        border: none;
        color: var(--keypad);
        border-bottom: 2px solid var(--key-border);
        padding-top: 8px;
        background: var(--keypad-bg);
        cursor: pointer;
      }

      .del {
        font-size: 0.9em;
        background: var(--del-bg);
        border-bottom: 2px solid var(--del-border);
        color: white;
      }
    }

    .btn-grp-2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 45px;
      grid-column-gap: 1em;

      .btn {
        border: none;
        border-bottom: 2px solid;
        border-radius: 8px;
        font-size: 0.9em;
        color: white;
        font-weight: 700;
        cursor: pointer;
      }

      .reset {
        background: var(--del-bg);
        border-color: var(--del-border);
      }

      .equal {
        background: var(--equal-bg);
        border-color: var(--equal-border);
        color: var(--equal-color);
      }
    }

    .animate {
      animation: 0.3s linear clicked;
    }

    @keyframes clicked {
      0% {
        border-bottom: 2px;
        transform: scale(0.97);
      }

      100% {
        border-bottom: 0px;
        transform: scale(1);
      }
    }
  }
}

@media screen and (max-width: 450px) {
  body {
    main {
      width: 325px;

      .calc-head {
        align-items: flex-end;
        padding-bottom: 2em;

        h3 {
          font-size: 2.25em;
        }

        div {
          margin-bottom: 3px;

          span {
            font-size: 0.9em;
            letter-spacing: 0.15em;
            margin-right: 0.85em;
          }

          .theme {
            width: 60px;
            height: 22px;
            border-radius: 50px;
            background: var(--toggle-keypad-bg);
            position: relative;

            .theme-type {
              letter-spacing: 0.15em;
              font-size: 0.9em;
              left: 8px;
              font-weight: 700;
              top: -20px;
            }

            .circle {
              width: 13px;
              height: 13px;
              margin: 2px 7px;
            }
          }
        }
      }

      .screen {
        height: 80px;
      }

      .control {
        margin-top: 1.55em;
        padding: 1.45em;

        .btn-grp-1 {
          grid-auto-rows: 70px;
          grid-gap: 0.7em;
          margin-bottom: 0.7em;

          .btn {
            font-size: 2em;
            border-bottom: 4px solid var(--key-border);
          }

          .del {
            font-size: 1.15em;
            border-bottom: 4px solid var(--del-border);
          }
        }

        .btn-grp-2 {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-auto-rows: 70px;
          grid-column-gap: 0.7em;

          .btn {
            border-bottom: 4px solid;
            font-size: 1.15em;
          }

          .reset {
            background: var(--del-bg);
            border-color: var(--del-border);
          }

          .equal {
            background: var(--equal-bg);
            border-color: var(--equal-border);
            color: var(--equal-color);
          }
        }
      }
    }
  }
}
